
/* MemberCard.css */

.member-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    background-color: #f8f9fa; /* 浅灰色背景增加可读性 */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 轻微的阴影效果 */
}

.member-card img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover; /* 确保图片完整覆盖 */
}

.member-info {
    flex: 1; /* 使信息部分占据剩余空间 */
    margin-left: 20px;
}

.member-info h2 {
    font-size: 24px;
    color: #333; /* 深色标题 */
    margin-bottom: 10px;
}

.member-info p {
    font-size: 16px;
    color: #666; /* 灰色文本增加可读性 */
    line-height: 1.5;
}

.member-info .ant-icon {
    margin-right: 8px;
    color: #1890ff; /* Ant Design蓝色图标 */
}

.member-info span {
    font-weight: bold;
    color: #333; /* 深色加粗 */
}

/* Tabs样式 */
.ant-tabs-tab {
    font-size: 16px;
    color: #666; /* 灰色标签 */
}

.ant-tabs-tab-active {
    color: #1890ff; /* 激活的标签使用Ant Design蓝色 */
    font-weight: bold;
}

.tab-paragraph {
    font-size: 16px; /* 稍微减小段落字体大小 */
    line-height: 1.6;
    color: #666;
    margin-bottom: 10px; /* 增加段落间的间距 */
}

/* 响应式设计 */
@media (max-width: 768px) {
    .member-card {
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
    }

    .member-card img {
        margin-bottom: 20px;
    }

    .member-info {
        margin-left: 0;
    }
}