.menuItemNotSelected{
  font-size: 16px; /* 或者你想要的任何字体大小 */
  //margin-top: 0; /* 根据需要调整间距 */
  text-align: center;
  color: #fff;
}
.menuItemSelected {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  //color: white;
  //background-color: #ffffff;
  //border: 5px solid #e8e8e8;// 设置边框为1px实线，颜色为#e8e8e8
  //borderRadius: 8px;// 可选：设置边框圆角
  /* 这里定义你的选中状态样式 */
  color: #133da6; /* Ant Design的蓝色主色调 */
}
/* 添加悬停效果 */
.ant-menu-horizontal >.ant-menu-item:hover {
  background-color: #3288e4;
  color: #ffffff;
  border-radius: 8px;
}
