.menuItemNotSelected{
  font-size: 16px; /* 或者想要的任何字体大小 */
  //margin-top: 0; /* 根据需要调整间距 */
  text-align: center;
  color: #fff;
}
.menuItemSelected {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  color: #133da6; /* Ant Design的蓝色主色调 */
}
/* 添加悬停效果 */
.ant-menu-horizontal >.ant-menu-item:hover {
  background-color: #3288e4;
  color: #ffffff;
  border-radius: 8px;
}
